 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #AA9A20;
active-foreground: #F6F1E4;
normal-background: #1E1E1F;
normal-foreground: #F6F1E4;
urgent-background: #979F8C;
urgent-foreground: #F6F1E4;

alternate-active-background: #BC8C8F;
alternate-active-foreground: #F6F1E4;
alternate-normal-background: #1E1E1F;
alternate-normal-foreground: #F6F1E4;
alternate-urgent-background: #1E1E1F;
alternate-urgent-foreground: #F6F1E4;

selected-active-background: #AA9A20;
selected-active-foreground: #1E1E1F;
selected-normal-background: #AA9A20;
selected-normal-foreground: #1E1E1F;
selected-urgent-background: #BC8C8F;
selected-urgent-foreground: #1E1E1F;

background-color: #1E1E1F;
background: rgba(0,0,0,0.7);
foreground: #F6F1E4;
border-color: #AA9A20;

color0: #444545;
color1: #657064;
color2: #A95C14;
color3: #8D696B;
color4: #807318;
color5: #717769;
color6: #ABA285;
color7: #E9E3D0;
color8: #A39F91;
color9: #869586;
color10: #E27B1A;
color11: #BC8C8F;
color12: #AA9A20;
color13: #979F8C;
color14: #E4D8B1;
color15: #E9E3D0;


}

